.productdisplay{
    margin: 0 170px;
}

.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img{
    width: 120px;
    border-radius: 20px;
    
}

.productdisplay-img img{
    height: 400px;
    padding: 20px;
    border-radius: 30px;
}

@media(max-width: 480px){
    .productdisplay{
        margin: 0;
    }
}
